body
{
	background-color: #1d1d1d;
}
p
{
	color: #cecece
}
button
{
	width: 100px;
	height: 30px;
	text-align: center;
	background: #cecece;
}
.wizard
{
	position:absolute;
	width:46px;
	height:46px;
	animation:moveright 20s infinite;
	-moz-animation:moveright 20s infinite;
	-webkit-animation:moveright 20s infinite;
}
.rogue
{
	position:absolute;
	width:46px;
	height:46px;
	animation:movehome 13s infinite;
	-moz-animation:movehome 13s infinite;
	-webkit-animation:movehome 13s infinite;
}
.archershoot
{
	position:absolute;
	width:46px;
	height:46px;
}
.doomarrow
{
	position:absolute;
	margin-left:50px;
	width:28px;
	height:28px;
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	animation:moveright .35s infinite;
	-moz-animation:moveright .35s infinite;
	-webkit-animation:moveright .35s infinite;
}
.topbar
{
	width: 100%;
	height: 60px;
	background: rgba(11, 118, 41, 0.761);
	border-style: dotted;
	border-color: #aeaeae;
}
.topbar-button
{
	width: 100px;
	height: 30px;
	
	background: rgba(20, 230, 80, 0.761)
}
@-moz-keyframes moveright
{
	from
	{
		left: 0;
	}
	to 
	{
		left: 90%;
	}
}
@-webkit-keyframes moveright
{
	from
	{
		left: 0;
	}
	to 
	{
		left: 90%;
	}
}
@-moz-keyframes movehome
{
	0%
	{
		left: 0;
	}
	50%
	{
		left: 90%;
		-moz-transform: scaleX(-1);
		-webkit-transform: scaleX(-1);
		transform: scaleX(-1);
		
	}
	100%
	{
		left: 0;
	}
}